In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
from datetime import datetime
import calendar
from pandas.api.types import CategoricalDtype

In [4]:
#Import data
customers = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_customers_dataset.csv')
locations = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_geolocation_dataset.csv')
items = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_order_items_dataset.csv')
payments = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_order_payments_dataset.csv')
reviews = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_order_reviews_dataset.csv')
orders = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_orders_dataset.csv')
products = pd.read_csv(r'https://raw.githubusercontent.com/PixarJunkie/dsc-672-capstone-project/main/data/olist_orders_dataset.csv')

# Summary

In [7]:
datasets = [customers, items, payments, orders, products, locations, reviews]
col_names = ['customers', 'items', 'payments', 'orders', 'products', 'locations', 'reviews']

#To gather practical information about all datasets 
summary = pd.DataFrame({},)
summary['dataset']= col_names
summary['cols'] = [', '.join([col for col, null in df.isnull().sum().items() ]) for df in datasets]
summary['cols_no']= [df.shape[1] for df in datasets]
summary['null_no']= [df.isnull().sum().sum() for df in datasets]
summary['null_cols_no']= [len([col for col, null in df.isnull().sum().items() if null > 0]) for df in datasets]
summary['null_cols'] = [', '.join([col for col, null in df.isnull().sum().items() if null > 0]) for df in datasets]


summary.style.background_gradient(cmap='coolwarm')

In [8]:
#Merging Data